<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks - Reset Password</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="roboto-regular">

<main>

    <h2 th:text="'Hello ' + ${username} + '!'">Hello User!</h2>
    <p>To reset your password, please click <a href="/" th:href="${url}">here</a></p>

</main>

</body>
</html>