<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks - Reset Password</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<main style="display: flex; flex-direction: column; gap: 40px; justify-content: center; height: 100vh; align-items: center;">

    <div style="text-align: center; border-bottom: 1px solid #ccc; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); padding: 20px;">
        <h1>Tasks</h1>
        <h4>Reset Password</h4>
    </div>

    <div>

        <p th:text="'Hello ' + ${username} + ','">Hello Diogo,</p>
        <br>
        <p>It seems you forgot your password.</p>
        <p>We have received your request to reset your password.</p>
        <br>
        <p>To proceed, click the button below.</p>
        <br>
        <a style="text-decoration: none; color: white; background-color: #343a40; padding: 10px 20px; border-radius: 10px;" href="/" th:href="${url}">Reset Password</a>
        <br>
        <br>

    </div>

</main>

</body>
</html>