<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks - Recuperar Senha</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="roboto-regular">

<main>

    <div class="content">

        <h3 class="title">Recuperar Senha</h3>

        <form method="post" th:object="${user}">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="inputs">

                <label>
                    Utilizador ou E-mail

                    <div class="the_input">
                        <i class='bx bx-lock-alt' ></i>
                        <input name="password" placeholder="tasks@email.com" type="text" th:field="*{username}">
                    </div>
                </label>

            </div>

            <a href="/" th:href="@{/auth/login}">Lembrei-me da senha</a>
            <button type="submit">Continuar</button>

        </form>

        <div class="paths">
            <p>Ainda não tenho uma conta. <a href="/" th:href="@{/auth/register}">Clique para criar</a></p>
        </div>

    </div>

</main>

</body>
</html>