<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks - Create Account</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="roboto-regular">

    <div class="error" th:if="${param.error != null}">
        <p th:switch="${#strings.toString(param.error)}">
            <span th:case="'PASSWORD_NOT_MATCH'">As senhas não coincidem.</span>
            <span th:case="'USER_ALREADY_EXISTS'">Utilizador já registrado.</span>
            <span th:case="*">Ocorreu um erro inesperado.</span>
        </p>
    </div>

    <main>

        <div class="content">

            <h3 class="title">Create Account</h3>

            <form method="post" th:object="${user}">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="inputs">

                    <label>
                        E-mail

                        <div class="the_input">
                            <i class='bx bx-envelope'></i>
                            <input name="email" placeholder="tasks@email.com" type="text" th:field="*{email}">
                        </div>

                    </label>

                    <label>
                        Username

                        <div class="the_input">
                            <i class='bx bx-user'></i>
                            <input name="username" placeholder="tasks" type="text" th:field="*{username}">
                        </div>

                    </label>

                    <label>
                        Password

                        <div class="the_input">
                            <i class='bx bx-lock-alt' ></i>
                            <input name="password" placeholder="*******" type="password" th:field="*{password}">
                        </div>

                    </label>

                    <label>
                        Confirm password

                        <div class="the_input">
                            <i class='bx bx-lock-alt' ></i>
                            <input name="password" placeholder="*******" type="password" th:field="*{confirmPassword}">
                        </div>

                    </label>

                </div>

                <a href="/" th:href="@{/auth/login}">I already have an account</a>
                <button type="submit">Proceed</button>

            </form>

            <div class="separator">ou</div>

            <div class="social-login">

                <a href="/"><img src="../static/img/discord.svg" th:src="@{/img/discord.svg}" alt="Login with discord"></a>
                <a href="/"><img src="../static/img/google.svg" th:src="@{/img/google.svg}" alt="Login with google"></a>

            </div>

        </div>

    </main>

</body>
</html>